@model List<ProdutoModel>

@{
    ViewData["Title"] = "Produtos";
}

<link rel="stylesheet" href="~/css/Produtos.css">

<div class="animais-container">
    <h1>Lista Geral de Produtos</h1>

    <hr>
    <p><b>Essa lista contém os produtos que já foram vendidos e os que estão disponíveis para venda</b></p>
    <br>
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Marca</th>
                <th>Data de Fabricação</th>
                <th>Data de Validade</th>
                <th>Funcionalidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                var i = 1;
                foreach (ProdutoModel produtos in Model)

                {
                    
                <tr>
                    <th scope="row">@i</th>
                    <td>@produtos.Nome</td>
                    <td>@produtos.Valor</td>
                    <td>@produtos.Marca</td>
                    <td>@produtos.Dt_Fab</td>
                    <td>@produtos.Dt_Val</td>
                    <td>@produtos.Funcionalidade</td>
                    <td>
                        <div>
                            <a role="button" asp-route-id="@produtos.Id" asp-asp-controller="Produtos"
                            asp-action="Alterar"><img src="https://cdn-icons-png.flaticon.com/512/1263/1263925.png"
                                style=height="32" width="32"></a>
                                
                            <a role="button" asp-route-id="@produtos.Id" asp-asp-controller="Produtos"
                            asp-action="VerificarExcluir"><img src="https://freepngimg.com/thumb/trash_can/164906-trash-png-file-hd.png"
                                style=height="32" width="32"></a>
                        </div>
                    </td>
                   
                </tr>
                i += 1;
                }
            }
        </tbody>
    </table>

    <br>

    <a role="button" class="button" asp-controller="Home" asp-action="Index">Voltar</a>
    <a role="button" class="button-green" asp-controller="Produto" asp-action="Cadastrar">Cadastrar novo produto</a>

</div>

<br>

<div class="container-four">
    <img class="img-animais" src="https://images.unsplash.com/photo-1630173207885-c903abb963f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"  alt="Porco da índia" width="300" height="250">
    <div align = "right">
        <h2 class="container-four__h2">E aí! O que achou?</h2>
        <br>
        <h4 class="container-four__h4">Buscamos oferecer os melhores produtos para satisfação dos clientes!</h4>
        <br>
        <br>
        <br>
        <a role="button" class="button-container-four__a" asp-controller="Home" asp-action="Contatos">Fale com a gente!</a>
    </div>
</div>

   